@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 text-center">Trabajo Practico Numero 1</h1>

    <h2>Materia: Laboratorio IV</h2>
    <h2>Profesor: Rossi Martin</h2>
    <h2>Alumno: Ambrosioni Francisco</h2>
   

</div>
